/* Medium screen */
@media all and (max-width: 1100px) and (min-width:700px) {

    #brand_logo>img {
        width: 190px;
    }

    #top_navigators>p {
        font-size: 13px;
    }

    #top_navigators>p>img {
        width: 23px;
    }

    #top_navigators img {
        width: 20px;
    }

    #catagory>div {
        grid-template-columns: repeat(2, 1fr);
    }

    #newArrival>div {
        grid-template-columns: repeat(2, 1fr);
    }

    #trend>div {
        grid-template-columns: repeat(2, 1fr);
    }

    #view {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer>div:nth-child(1) {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Small screen */
@media all and (max-width: 700px) and (min-width:0px) {

    #top>div:nth-child(1) {
        display: none;
    }

    #brand_logo>img {
        width: 180px;
    }

    #top_navigators>p {
        font-size: 13px;
    }

    #top_navigators>p>img {
        width: 23px;
    }

    #top_navigators img {
        width: 20px;
    }

    #catagory>div {
        grid-template-columns: repeat(1, 1fr);
    }

    #newArrival>div {
        grid-template-columns: repeat(1, 1fr);
    }

    #trend>div {
        grid-template-columns: repeat(1, 1fr);
    }

    #view {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer>div:nth-child(1) {
        grid-template-columns: repeat(1, 1fr);
    }
}